{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Baris-online{% endblock  %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div id="header">
        <div class="">
            <a href="/" class="logo">Baris-online</a>
        </div>
        <div class="">
            <a href="{% url "admin:index" %}">admin</a>
        </div>
    </div>
    <div id="subheader">
        <div class="cart">
            Корзина пуста.
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>